*{
    /*! padding: 0; */
    margin: 0;
}
#header{
    background-color:#FF7069;
    opacity:0.5;
    /*! border: 8px solid; */
    padding: 0px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
#heading_text{
    display: inline;
    position: relative;
//    top: 10px;
    left:20px;
    margin-right:800px;
}
#menu{
    display: inline;
}
.menu_button{
    display: inline;
    margin-right: 10px;
}
#main_content_area{
    background-color: bisque;
    padding: 20px;
    padding-top: 90px;
    padding-bottom: 70px;
}
#footer{
    width: 100%;
    background-color:black;
    opacity: 0.3;
    color: white;
    position: fixed;
    bottom: 0px;
}

#footer_text{
    position:relative;
    left:10px;
}

@media screen and (max-width: 1200px){
    #heading_text{
        margin-right: 500px;
    }
}

@media screen and (max-width: 900px){
    #heading_text{
        margin-right: 200px;
    }
}

@media screen and (max-width: 600px){
    #heading_text{
        margin-right: 30px;
        left: 10px;
        top: 5px;
    }
}